@font-face {
  font-family: "MyPoppins";
  src: url(../assets/fonts/Poppins/Poppins-Medium.ttf);
}
* {
  box-sizing: border-box;
  scroll-behavior: smooths;
}
html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: "MyPoppins", sans-serif;
  height: 100vh;
  width: 100vw;
}
/*nav*/
.pages {
  width: 650px;
}

.list-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.list-nav li a {
  text-decoration: none;
  /* color: rgb(34, 33, 33); */
  color: #ce7777 !important;
}
.list-nav li {
  text-decoration: none;
  transition: all 0.5s linear;
}
.list-nav li:hover {
  font-weight: bold;
  /*translation*/
  transform: scale(1.5);
}
nav {
  margin-top: 0;
  top: 0;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000000;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.logo {
  top: 2px;
}
.logo img {
  height: 120px;
}
.btn-home {
  width: 10em;
  display: flex;
  justify-content: space-between;
}
#btn-contact {
  color: #ce7777;
  transition: all 0.5s linear;
}
.btn-home #btn-contact:hover {
  font-weight: bold;
  transform: scale(1.5);
}
.toggel-btn {
  width: 100px;
}
.toggel-btn i {
  font-size: 40px;
  color: #ce7777;
}
.portfolio {
  display: flex;
}
/*main-home*/
.container {
  width: 90%;
  position: absolute;
  top: 35%;
  bottom: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container {
  width: 100%;
  height: 100%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.model {
  left: 0;
  width: 500px;
  height: 300px;
  box-shadow: -60px -30px 2px 1px #c7877e;
  border-radius: 2%;
}
.model img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: 100000;
  border-radius: 2%;
}

.main-text {
  width: 650px;
}
.main-text h1 {
  font-size: 2.2rem;
  color: #2b3a55;
  margin: 0px 0px 10px 0px;
  line-height: 40px;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
.main-text h1 span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.main-text h1 span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.main-text h1 span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.main-text h1 span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.main-text h1 span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.main-text h1 span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.main-text h1 span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.main-text p {
  color: #4e4c4c;
  font-size: 1.5rem;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
.main-text p span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.main-text p span {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

#protfolio-btn {
  width: 190px;
  height: 45px;
  background-color: #c7877e;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-left: 5px;
}
#protfolio-btn:hover {
  background-color: #8a534c;
  transition: all ease 0.2s;
}
/*lien social media*/
aside .social {
  position: fixed;
  top: 50%;
  left: 97%;
  width: 50px;
  height: 200px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  /* margin: 0; */
}
/* Style the icon bar links */
aside .social a {
  display: block;
  text-align: center;
  padding: 15px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}
/* Style the social media icons with color, if you want */
aside .social a:hover {
  background-color: rgb(88, 85, 85);
}
.github {
  background: #000;
  color: white;
}

.twitter {
  background: #55acee;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}
footer {
  height: 100px;
  background-color: #c7877e;
  position: relative;
  top: 32.3rem;
  padding: 20px;
}
